$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 30px 10px;
}
.navbar {
  color: white;
}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave,
.repeat-item.ng-move {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  position:relative;
}

.repeat-item.ng-enter {
  left:-10px;
  opacity:0;
}
.repeat-item.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.repeat-item.ng-leave {
  left:0;
  opacity:1;
}
.repeat-item.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.repeat-item.ng-move {
  opacity:0.5;
}
.repeat-item.ng-move.ng-move-active {
  opacity:1;
}
